heading{
    background-color: antiquewhite;
    color: blueviolet;
}
body{
    background-color:papayawhip;
}
p{
   color: blueviolet;
    size: 2cm;
}

button{
    background-color: cyan;
    color: brown;
}


